<div class="slider blue-grey darken-2">
    <ul class="slides indigo lighten-4">
        <li>
            <img src="/content/images/slide1.JPG">
            <div class="caption center-align">
                <h3> </h3>
                <h5 class="light grey-text text-lighten-3"> </h5>
            </div>
        </li>
        <li>
            <img src="/content/images/slide2.JPG">
            <div class="caption left-align">
                <h3> </h3>
                <h5 class="light grey-text text-lighten-3"> </h5>
            </div>
        </li>
        <li>
            <img src="/content/images/slide3.JPG">
            <div class="caption right-align">
                <h3> </h3>
                <h5 class="light grey-text text-lighten-3"> </h5>
            </div>
        </li>
        <li>
            <img src="/content/images/slide4.JPG">
            <div class="caption center-align">
                <h3> </h3>
                <h5 class="light grey-text text-lighten-3"> </h5>
            </div>
        </li>
    </ul>
</div>
<div>

    <div class="row">
        <div class="col s3 s12 m6 l3">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/content/images/card1.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Badges<i class="material-icons right">more_vert</i></span>
                    <p><a href="http://pernix-police.herokuapp.com/badge_nominations" class="accent">Click me!</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Badges<i class="material-icons right">close</i></span>
                    <p>Do you have a Badge Nominee? Do you want to see who have recently received Badges? How are you ranking? Take a look!</p>
                    <p><a href="http://pernix-police.herokuapp.com/badge_nominations" class="accent">Click me!</a></p>
                </div>
            </div>
        </div>
        <div class="col s3 s12 m6 l3">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/content/images/card3.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Gamification<i class="material-icons right">more_vert</i></span>
                    <p><a ui-sref="gamification()">Click me!</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Gamification<i class="material-icons right">close</i></span>
                    <p>Because work needs also to be fun. Check your points, the different activities. Be promoted at the company and contribute with us to a better culture and climate at Pernix</p>
                    <p><a ui-sref="gamification()">Click me!</a></p>
                </div>
            </div>
        </div>
        <div class="col s3 s12 m6 l3">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/content/images/card2.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Newsletter<i class="material-icons right">more_vert</i></span>
                    <p><a href="https://pernixnewsletter.wordpress.com/" class="accent">Click me!</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Newsletter<i class="material-icons right">close</i></span>
                    <p>Keep in touch with the recent news and projects at our office, and find interesting articles worthy of a minute or two of your time.</p>
                    <p><a href="https://pernixnewsletter.wordpress.com/" class="accent">Click me!</a></p>

                </div>
            </div>
        </div>
        <div class="col s3 s12 m6 l3">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/content/images/card4.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Playbook<i class="material-icons right">more_vert</i></span>
                    <p><a href="https://docs.google.com/a/pernix-solutions.com/document/d/1SmhI-yReqQWRp2pIe4V6QQv0-py4PvkKr5xS8yxewiI/edit?usp=drive_web" class="accent">Click me!</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Playbook<i class="material-icons right">close</i></span>
                    <p>Are you having doubts about our processes? Don't know what to do? Fearful about the unknown rules? Well, take a look at the #playbook</p>
                    <p><a href="https://docs.google.com/a/pernix-solutions.com/document/d/1SmhI-yReqQWRp2pIe4V6QQv0-py4PvkKr5xS8yxewiI/edit?usp=drive_web" class="accent">Click me!</a></p>
                </div>
            </div>
       </div>
        <div class="col s3 s12 m6 l3">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/content/images/card5.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">KPI<i class="material-icons right">more_vert</i></span>
                    <p><a href="#" class="accent">Click me!</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">KPI<i class="material-icons right">close</i></span>
                    <p>Because work needs also to be fun. Check your points, the different activities. Be promoted at the company and contribute with us to a better culture and climate at Pernix</p>
                    <p><a href="#" class="accent">Click me!</a></p>
                </div>
            </div>
        </div>
        <div class="col s3 s12 m6 l3">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/content/images/card6.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Trainning Program<i class="material-icons right">more_vert</i></span>
                    <p><a href="http://dev.pernix-solutions.com/pernixacademy/moodle/" class="accent">Click me!</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Trainning Program<i class="material-icons right">close</i></span>
                    <p>A space for New Apprentices and Mentors. Check material and information that will help you succeed through the process of our apprentice program.</p>
                    <p><a href="http://dev.pernix-solutions.com/pernixacademy/moodle/" class="accent">Click me!</a></p>
                </div>
            </div>
        </div>
        <div class="col s3 s12 m6 l3">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/content/images/card7.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Pernix LABS<i class="material-icons right">more_vert</i></span>
                    <p><a href="https://labs.pernix-solutions.com/#/" class="accent">Click me!</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Pernix LABS<i class="material-icons right">close</i></span>
                    <p>Let’s Keep information flowing! Take a look at our LABS Projects.</p>
                    <p><a href="https://labs.pernix-solutions.com/#/" class="accent">Click me!</a></p>
                </div>
            </div>
        </div>
        <div class="col s3 s12 m6 l3">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/content/images/card8.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Clubs<i class="material-icons right">more_vert</i></span>
                    <p><a href="#" class="accent">Click me!</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Clubs<i class="material-icons right">close</i></span>
                    <p>Check what activities our clubs are being a part of. Join them!</p>
                    <p><a href="#" class="accent">Click me!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

